input{
    width: 25vh;
    height: 5vh;
    padding: 1vh 1vh;
    border: 0.5vh solid #b30707;
    border-radius: 1vh;
    font-size: 3vh;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

input:focus { 
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}

.InputComp{
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}

@media (max-width: 480px) {
    .InputComp{
    flex-direction: column;
    }
}